# =============================
# Global configuration
# =============================
{
	email {$CADDY_EMAIL}
}

{$DOMAIN} {
    redir planka.{$DOMAIN}
}

planka.{$DOMAIN} {
	reverse_proxy planka:1337
}